<!DOCTYPE html>
<html>
<head><title>Weather in Moscow</title></head>
<body>
<h1>Weather in Moscow</h1>
<p>The sky is: {{ .Main }} </p>
<p>The temperature is: {{ .Temp }} </p>
<p>The visibility is: {{ .Visibility }} meters </p>
<p>The wind speed is: {{ .Wind }} meters per second </p>
</html>
